<div class="card flex flex-wrap justify-content-center gap-3">
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <!-- <input
      appHttpBook
      type="text"
      #inputBook
      pInputText
      (input)="bookSearch($event)"
      placeholder="Search Book..."
    /> -->
    <!-- <input
      (appHttpBook)="filteredBooks = $event"
      type="text"
      pInputText
      placeholder="Search Book..."
    /> -->
    <input
      (appHttpBook)="filteredBooks = $event"
      type="text"
      pInputText
      placeholder="Search Book..."
    />
  </span>
</div>

<div class="card">
  <p-table [value]="filteredBooks" [tableStyle]="{ 'min-width': '20rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>ISBN</th>
        <th>Authors</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-filteredbook>
      <tr>
        <td>{{ filteredbook.name }}</td>
        <td>{{ filteredbook.isbn }}</td>
        <td>{{ filteredbook.authors }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
